<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text"></ion-input>
        <ion-note color="danger" *ngIf="registrationForm.get('nombre')?.invalid && (registrationForm?.get('nombre')?.touched || registrationForm?.get('nombre')?.dirty)">
          Nombre es requerido.
        </ion-note>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="apellido" type="text"></ion-input>
        <ion-note color="danger" *ngIf="registrationForm.get('apellido')?.invalid && (registrationForm?.get('apellido')?.touched || registrationForm?.get('apellido')?.dirty)">
          Apellido es requerido.
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="usuario" type="text"></ion-input>
        <ion-note color="danger" *ngIf="registrationForm.get('usuario')?.invalid && (registrationForm?.get('usuario')?.touched || registrationForm?.get('usuario')?.dirty)">
          Usuario debe tener al menos 8 caracteres.
        </ion-note>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
        <ion-note color="danger" *ngIf="registrationForm.get('email')?.invalid && (registrationForm?.get('email')?.touched || registrationForm?.get('email')?.dirty)">
          Email inválido.
        </ion-note>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <ion-note color="danger" *ngIf="registrationForm.get('password')?.invalid && (registrationForm?.get('password')?.touched || registrationForm?.get('password')?.dirty)">
          Contraseña debe tener al menos 8 caracteres.
        </ion-note>
      </ion-item>
  
      <ion-item>
        <ion-label>Discapacidades</ion-label>
        <ion-select formControlName="disabilities" multiple="true">
          <ion-select-option value="visual">Visual</ion-select-option>
          <ion-select-option value="auditiva">Auditiva</ion-select-option>
          <ion-select-option value="motora">Motora</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-button expand="full" type="submit" [disabled]="registrationForm.invalid">Registrar</ion-button>
    </form>
  </ion-content>
  