<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="redirectfuncion()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inclusive Maps Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Entrar</ion-button>
  </form>

  <div *ngIf="message">
    <p>{{ message }}</p> <!-- Interpolación mostrando el mensaje de login -->
  </div>
</ion-content>
